API_KEY=your_secret_api_key_here
BASE_URL=https://rescate.ventatalk.com
DATABASE_URL=sqlite:///./rescate.db
SECRET_KEY=your_very_secret_key_here
ADMIN_1_USER=hanowar
ADMIN_1_PASS=Jat_4514582
ADMIN_2_USER=jcaicedo
ADMIN_2_PASS=Julio.2026
